<h1>Welcome to Rainforest</h1>
<h2><%= link_to 'List a new item', new_product_path %></h2>
<h3>Total Products listed: <%=Product.all.length %></h3>
<h4>Goods listed</h4>
<ul id = "allproducts">
<% @products.each do |details| %>
<li><%= "Listing id: #{details.id}" %></li>
<li><%= details.name %></li>
<li><%= details.description %></li>
<li><%= "Price: $#{details.formatted_price}" %></li>
<%= image_tag details.url %>
<p><%= link_to 'See product reviews', "products/#{details.id}" %></p>
<% end %>
</ul>
