<h3>Reviews</h3>
<%= link_to "Home", products_path %>

<div id="review-list" >
  <%= render :partial => "reviews" %>
</div>
  <%= image_tag @product.url, {size: "320x240"}%>



  <h5><%= link_to 'Edit Listing', edit_product_url(@product) %> | <%= link_to 'Delete Listing', product_path(@product), method: :delete, data: {confirm: "Would you like to delete the listing with the ID: #{@product.id}"} %></h5>


  <% if current_user %>
  <h4>New Review</h4>

  <%= form_for [@product, @review], :remote => true do |f| %>

    <div id="review-form-errors">
      <%= render :partial => "review_form_errors" %>
    </div>

    <div class="field">
      <%= f.label :comment %><br />
      <%= f.text_area :comment %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

<% else %>
  <p>Please <%= link_to "log in", new_session_path %> to add a review.</p>
<% end %>

<script type="text/javascript">
  $(function() {
     $("#new_review")
        .on('ajax:beforeSend', function() { // set this code to happen just before the ajax request is made
          $("input[type='submit']") // make changes to the submit button
            .val('Saving...') // change the text on the button
            .attr('disabled', 'disabled'); // disable the button
        })
        .on('ajax:complete', function() {
      $("input[type='submit']")
        .val('Create Review')
        .removeAttr('disabled');
    });
  });
</script>
